<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy">

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- simplebar js -->
<script th:src="@{/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{/js/sidebar-menu.js}"></script>
<!-- loader scripts -->
<!--<script src="/static/js/jquery.loading-indicator.js"></script>-->
<!-- Custom scripts -->
<script th:src="@{/js/app-script.js}"></script>
<!-- Chart js -->

<script th:src="@{/plugins/Chart.js/Chart.min.js}"></script>

<!-- Index js -->
<script th:src="@{/js/index.js}"></script>
</div>
</html>
